# Dependencies
node_modules/
package-lock.json

# Build output (IMPORTANT: Remove 'dist/' if you use a build step and want to commit it)
# dist/

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.sublime-project
